<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Group Member</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
{% include "navbar.html" %}
<div class="container">
  <h2>Add Group Member Telegram</h2>
    <div class="form-group">
      <label class="control-label col-sm-2" for="group">Select Group:</label>
        <div class="col-sm-10">
            <select class="form-control" id="group">

              </select>
        </div>
    </div>
    <br />
    <div class="form-group">
      <label class="control-label col-sm-2" for="path">Path:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="path" placeholder="Enter xlsx file path with double \\" name="path">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button id="submit" type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
</div>
<div class="container" id="out_list" style="display:none;">
    <h2 style="color:red;">Wrong Number:</h2>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Serial</th>
        <th>Number</th>
      </tr>
    </thead>
    <tbody id="table_body">

    </tbody>
  </table>
</div>
<h2 id="alert"></h2>
<script>

     var list_data=[];
     var list_hash=[];
     $.ajax({
            url: '/search/',
            data: {
              'name':'Jayed',
            },
            dataType: 'json',
            success: function (data) {
             console.log(data);
              list_data=data.data;
              list_hash=data.hash;
              var count=0;
              for(value in data.data)
              {
                if(parseInt(value)>-10000000000 && parseInt(value)<-1)
                {
                var li_item=`<option value='`+value+`'>`+list_data[value]+`</option>`;
                $("#group").append(li_item);
                }
              }

            }
          });

              $('#submit').on("click", function(event) {
                $("#alert").text('');
                var path=document.getElementById("path").value;
                var group=document.getElementById("group").value;
                if(path != '' )
                {
                    $.ajax({
                    url: '/xlsx_data_request/',
                    data: {
                      'path':path
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        if(group != '' && data.data.length>0)
                            {
                                var count=0;
                                var add_member = setInterval(function(){
                                    $.ajax({
                                    url: '/add_group_member_data/',
                                    data: {
                                      'number':data.data[count],
                                      'group':group
                                    },
                                    dataType: 'json',
                                    success: function (value) {
                                        console.log(value);
                                        count++;
                                         if(value.data != '')
                                         {
                                           $("#out_list").show();
                                            var text=`<tr><td>`+count+`</td><td>`+value.data+`</td></tr>`
                                            $("#table_body").append(text);
                                         }
                                         if(count==data.data.length)
                                         {
                                            clearInterval(add_member);
                                            $("#alert").text(`Add contract total : `+count+``);
                                         }

                                    }
                              });

                                },6000);

                            }
                    }
                  });
                }
     });

</script>
</body>
</html>